  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-lg-4">
        <div class="auth-content p-4 d-flex align-items-center min-vh-100">
          <div class="w-100">
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <div>
                  <div class="text-center">
                    <div>
                      <a routerLink="" class="logo-full"><img src="assets/images/logo-full.png" alt="logo-full"></a>
                    </div>

                    <h4 class="font-20 mt-4">Restaurante do Zé !</h4>
                    <p class="text-muted">Efetue o login para acessar o sistema.</p>
                  </div>

                  <div class="p-2 mt-5">
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                      <div *ngIf="error" class="alert alert-danger mb-3 mt-0">{{error}}</div>
                      <div class="form-group auth-form-group mb-4">
                        <mat-icon matSuffix class="auth-page-icon">email</mat-icon>
                        <input type="email" formControlName="email" class="form-control auth-control" id="email"
                          placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                          <div *ngIf="f.email.errors.required">E-mail é obrigatório</div>
                          <div *ngIf="f.email.errors.email">E-mail deve ter um endereço válido!</div>
                        </div>
                      </div>

                      <div class="form-group auth-form-group mb-4">
                        <mat-icon matSuffix class="auth-page-icon">vpn_key</mat-icon>
                        <input type="password" formControlName="password" class="form-control auth-control"
                          id="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                          placeholder="Password" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                          <div *ngIf="f.password.errors.required">A senha é obrigatória</div>
                        </div>
                      </div>

                      <div class="flex-sb-m w-full p-t-15 p-b-20">
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value=""> Lembrar?
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>

                      </div>

                      <div class="container-login100-form-btn">
                        <button mat-flat-button color="primary" class="login100-form-btn" type="submit">
                          Entrar
                        </button>
                      </div>
                    </form>
                  </div>
                  <div class="mt-5 text-center">
                    <p>Gostaria de criar uma conta? <a routerLink="/authentication/signup"
                        class="font-weight-medium text-primary">
                        Criar </a> </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="auth-bg">
          <div class="bg-overlay"></div>
        </div>
      </div>
    </div>
  </div>
